tytle{
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to right,rgb(0, 68, 255),rgb(250, 99, 12));
    color: #000;
}